<div class="container">
	<h2><%= user.name %></h2>
	<h3><%= user.title %></h3>
	<hr>
	<h4><%= user.email %></h4>
	<a href="/users/edit/<%- user.id %>" class="btn btn-medium btn-primary">Editar</a>
</div>